<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 30 }'>
    {% for post in site.posts %}
        {% unless post.url == page.url %}
        <div class="grid-item">
                <div class="panel panel-default">
                    <div class="panel-heading author">
                        <h5>{% if post.author %}
                            by {{ post.author }}
                            {% endif %}
                            | {{ post.date | date: "%b %-d, %Y" }}
                        </h5>
                    </div>
                    <div class="panel-heading title">
                        <h3 class="panel-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    </div>
                    <div class="panel-body">
                        {% if post.img %}
                        <div class="post-image-container">
                            <img src="{{ post.img }}">
                        </div>
                        {% endif %}
                        <div class="excerpt">{{ post.excerpt }}</div>
                        <div class="text-muted">
                        Tagged: 
                            {% for category in post.categories %}
                                <span class="label label-default tags">{{ category }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
        {% endunless %}
    {% endfor %}
</div>