<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<html>
{% assign author = site.authors[page.author] %}

    {% include header.html %}

    <body>

    <div class="container content">
        <div class="post-content">

        <div class="row">
            <div class="col-md-9" id="col-left-post">
                <h1>{{ page.title }}</h1>
                {% if author %}
                    <img class="author-image" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
                    <div class="author-name">{{ author.display_name }}</div>
                {% endif %}
               
                <div class="publish-date">{{ page.date | date: "%b %-d, %Y" }}
                {% for category in page.categories %}
                 <a href="/category/{{ category }}"  class="label label-default tags">{{ category }}</a>
                {% endfor %} 
                </div>
                <hr/>
                {% if page.img %}
                <div class="blog-image-container">
                    <img class="img-responsive blog-image" src="{{ site.baseurl }}/{{ page.img }}">
                </div>
                {% endif %}
                <div class="blog-post">
                    {{ content }}
                </div>
                {% if page.comments %} 
                <div id="disqus_thread"></div>
            </div>
            <div class="col-md-3" id="side-bar">
                <!-- Sidebar -->
                {% include side-bar-categories.html %}
            </div>

            <!--
            <div class="col-md-3">
                {% if page.author %}
                    Author
                    <h4>{{ page.author }}</h4>
                {% endif %}

                <br/>Publish Date
                <h4>{{ page.date | date: "%b %-d, %Y" }}</h4>

                {% for category in page.categories %}
                 <a href="/category/{{ category }}"  class="label label-default">{{ category }}</a>
                    <span class="label label-default tags">{{ category }}</span>
                {% endfor %} 
            </div>-->
        </div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
        
                s.src = '//tech-gohcl-com.disqus.com/embed.js';
        
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

        {% endif %}
    </div>
    </div>

    {% include footer.html %}

    <script src="/assets/js/app.js" type="text/javascript"></script>
    <script id="dsq-count-scr" src="//tech-gohcl-com.disqus.com/count.js" async></script>

    </body>

</html>
